.app {
  height: 100dvh;
  padding: 2.4rem;
  /* overscroll-behavior-y: none; */
  display: flex;
  position: relative;
}

@media only screen and (max-width:768px){
  .app{
    padding: 0 0rem;
    flex-direction: column;
  }
}