.nav {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nav ul {
  list-style: none;
  display: flex;
  background-color: var(--color-dark--2);
  border-radius: 7px;      
}

.nav li{
  height: 4rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

.nav a:link,
.nav a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/* CSS Modules feature */
.nav a:global(.active) {
  background-color: var(--color-dark--0);
}


@media only screen and (max-width:768px){
  .nav ul {
  margin-top: 6rem;   
}
}