.cityList {
  width: 100%;
  height: 65vh ; 
  /* background-color: aqua; */
   list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;


}



.cityList::-webkit-scrollbar {
  width: 18px;
  
}

.cityList::-webkit-scrollbar-thumb {
  border-radius: 3px;
  
  background: rgba(0,0,0,0.3);
}

@media only screen and (max-width:768px) {
  .cityList{
    height: 30vh;
    max-width: 67rem;
  }  
}