.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 2.7rem;
  font-size: 2.8rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}



:global(.react-datepicker-popper) {
  left:150px !important;
  position: absolute;
  top: 0px;
  transform: translate(131.2px, 81.6px);
}

.emoji-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.emoji-input .emoji {
  position: absolute;
  font-size: 22px;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media only screen and (max-width:768px) {
 :global(.react-datepicker){
  margin-right: 10rem;
 }

 :global(.react-datepicker-popper) {
  left:130px !important;
  position: absolute;
  top: 10px;
  transform: translate(131.2px, 81.6px);
}

}