.sidebar {
  flex-basis: 56rem;
  /* width: 60vw; */
  max-width: 50vw;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 4.8rem);
  height: auto;

}

.footer {
  margin-top: 3rem;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}


@media only screen and (max-width:768px){
.sidebar {
    max-width: 100%;
    min-height: auto;   /* REMOVE fixed height */
    height: auto;
    padding: 2rem 3rem 2.5rem 3rem;
    flex-basis: auto;
  }
  .sidebar {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
}